html{
    height: 100%;
}

body {
    height: 100%;
    position: relative;
    margin: 0;
    font-family: "Open Sans";
    font-weight: 300;
    font-size: small;
    overflow: hidden
}

button {
    height: 50px;
    width: auto;
    min-width: 100px;
    border: grey solid 2px;
    border-radius: 2vw;
    cursor: pointer;
    font-family: "Open Sans";
    font-weight: 300;
    font-size: small;
    background-color: white;
}

header {
    height: 50px;
    flex-shrink: 0;
    background-color: transparent;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: -1;
}

footer {
    left: 0;
    bottom: 0;
    width: 100%;
    height: 40px;
    line-height: 40px;
    border-top: grey solid 2px;
    align-self: flex-end;
    flex: none;
}

.footer-text {
    margin-left: 30px;
    font-size: 10px;
}

@media screen and (min-width: 600px){
    header {
        justify-content: space-between;
    }

    button {
        height: 40px;
        width: auto;
        min-width: 70px;
    }

    .bulb-img {
        margin-left: 5vw;
    }

    .random-color-icon {
        display: inline;
    }
}
    
@media (min-width: 900px){
    
    
}
    
@media (min-width: 1200px){
    
    
}

#page-container {
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: center;
    align-items: center;
}

.main {
    display: flex;
    flex-direction: column;
    flex: 1;
    overflow: auto;
    flex-shrink: 0;
    flex-grow: 1;
    align-items: center;
    padding: 8vw 5vw 5vw 5vw;
}

.bulb-img {
    width: 70px;
    height: 25px;
}

.random-color-icon {
    display: none;
    font-size: 25px;
    color: grey;
    margin-right: 5vw;
}

#lights-container {
    width: 100%;
    display: flex;
    height: auto;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
}

.hidden {
    display: none;
    cursor: none;
}

.btn-add:disabled {
    background-color: #dddddd;
}

.btn-util{
    visibility: hidden;
    cursor: pointer;
}

.btn-container {
margin-top: 10vw;
width: 100%;
display: flex;
justify-content: space-evenly;
}

.info {
    height: 100%;
    padding: 3vw;
    border: grey solid 2px;
    border-radius: 2vw;
    text-align: center;
    line-height: 25px;
    display: flex;
    margin: 30px 30px 0 30px;
}

#lights-container > div:hover .btn-util {
   visibility: visible;
}

.light-1 {
    width: 15vw;
    height: 15vw;
}

.light-2 {
    width: 12vw;
    height: 12vw;
}

.light-3 {
    width: 8vw;
    height: 8vw;
}

.circle {
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.bulb-1 {
    background-color: #FFC312;
}

.bulb-1-active {
    animation: glow-1 2s infinite alternate;
}

@keyframes glow-1 {
    from {
        box-shadow: 0;
    }
    to {
      box-shadow: inset 0 0 50px #fff,
      inset 20px 0 80px #FFC312,
      0 0 50px #fff,
      0px 0px 60px 45px #FFC312;
    }
  }

.bulb-2 {
    background-color: #C4E538;
}

.bulb-2-active {
    animation: glow-2 2s infinite alternate;
}

@keyframes glow-2 {
    from {
      box-shadow: 0;
    }
    to {
      box-shadow: inset 0 0 50px #fff,
      inset 20px 0 80px #C4E538,
      0 0 50px #fff,
      0px 0px 60px 45px #C4E538;
    }
  }

.bulb-3 {
    background-color:#12CBC4;
}

.bulb-3-active {
    animation: glow-3 2s infinite alternate;
}

@keyframes glow-3 {
    from {
        box-shadow: 0;
    }
    to {
      box-shadow: inset 0 0 50px #fff,
      inset 20px 0 80px #12CBC4,
      0 0 50px #fff,
      0px 0px 60px 45px #12CBC4;
    }
  }

.bulb-4 {
    background-color:#FDA7DF;
}

.bulb-4-active {
    animation: glow-4 2s infinite alternate;
}

@keyframes glow-4 {
    from {
        box-shadow: 0;
    }
    to {
      box-shadow: inset 0 0 50px #fff,
      inset 20px 0 80px #FDA7DF,
      0 0 50px #fff,
      0px 0px 60px 45px #FDA7DF;
    }
  }

.bulb-5 {
    background-color:#ED4C67;
}

.bulb-5-active {
    animation: glow-5 2s infinite alternate;
}

@keyframes glow-5 {
    from {
        box-shadow: 0;
    }
    to {
      box-shadow: inset 0 0 50px #fff,
      inset 20px 0 80px #ED4C67,
      0 0 50px #fff,
      0px 0px 60px 45px #ED4C67;
    }
  }
  
.bulb-6 {
    background-color:#F79F1F;
}

.bulb-6-active {
    animation: glow-6 2s infinite alternate;
}

@keyframes glow-6 {
    from {
        box-shadow: 0;
    }
    to {
      box-shadow: inset 0 0 50px #fff,
      inset 20px 0 80px #F79F1F,
      0 0 50px #fff,
      0px 0px 60px 45px #F79F1F;
    }
  }

.bulb-7 {
    background-color:#A3CB38;
}

.bulb-7-active {
    animation: glow-7 2s infinite alternate;
}

@keyframes glow-7 {
    from {
        box-shadow: 0;
    }
    to {
      box-shadow: inset 0 0 50px #fff,
      inset 20px 0 80px #A3CB38,
      0 0 50px #fff,
      0px 0px 60px 45px #A3CB38;
    }
  }

.bulb-8 {
    background-color:#1289A7;
}

.bulb-8-active {
    animation: glow-8 2s infinite alternate;
}

@keyframes glow-8 {
    from {
        box-shadow: 0;
    }
    to {
      box-shadow: inset 0 0 50px #fff,
      inset 20px 0 80px #1289A7,
      0 0 50px #fff,
      0px 0px 60px 45px #1289A7;
    }
  }

.bulb-9 {
    background-color:#D980FA;
}

.bulb-9-active {
    animation: glow-9 2s infinite alternate;
}

@keyframes glow-9 {
    from {
        box-shadow: 0;
    }
    to {
      box-shadow: inset 0 0 50px #fff,
      inset 20px 0 80px #D980FA,
      0 0 50px #fff,
      0px 0px 60px 45px #D980FA;
    }
  }

.bulb-10 {
    background-color:#B53471;
}

.bulb-10-active {
    animation: glow-10 2s infinite alternate;
}

@keyframes glow-10 {
    from {
        box-shadow: 0;
    }
    to {
      box-shadow: inset 0 0 50px #fff,
      inset 20px 0 80px #B53471,
      0 0 50px #fff,
      0px 0px 60px 45px #B53471;
    }
  }

#modal-edit {
    height: 100%;
    width: 100%;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(0, 0, 0, .65);
    display: none;
}

#modal-edit.active {
    display: block;
}

.modal-container {
    width: 50vw;
    height: auto;
    background-color: white;
    border: grey solid 2px;
    border-radius: 2vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    padding: 4vw;
}

.is-visible {
    opacity: 1;
}

.color-table > td {
    height: 5vw;
    width: 5vw;
    border: grey solid 2px;
    cursor:pointer;
}

.select {
    border: 4px solid grey;
}

.column {
    width: 100%;
    display: flex;
}

.close-col {
    display: flex;
    justify-content: flex-end;
    width: 100%;
}

.opt-col {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.color-col {
    margin-top: 2vw;
}

.color-opt {
    margin-top: 2vw;
}

.size-opt {
    margin-top: 5vw;
}

.size-select {
    height: 100%;
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
}

.size-select > input {
    cursor: pointer;
}

.size-select > div {
    display: flex;
}

.size-col {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 15vw;
}

.size-check {
    -webkit-appearance: none;
	border: 2px solid grey;
	padding: 9px;
	border-radius: 50%;
	display: inline-block;
    position: relative;
    cursor: pointer;
}

.size-check:checked {
	border: 2px solid grey;
}

.size-label {
    margin-left: 1vw;
    line-height: 26px;
}

.btn-close {
    font-size: 25px;
    color: grey;
    cursor: pointer;
}

.btn-change {
    margin-top: 5vw;
}